@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  font-family: 'Lato', sans-serif;
  color: var(--clr-default-text);
  margin-inline: auto;
  width: min(1280px, 90%);
}